.featuresbg{
    display: flex;
    background-color: #2b1e16;
    justify-content: center;
    
    
    .features {
        background-color: #2b1e16;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0 40px;
        padding-bottom: 80px;
        min-width: 1250px;
        max-width: 1250px;
        
        // width:100%;
        .feature{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: white;
            width: 280px;
            // padding: 0 50px;

            .featureImgDiv{
                // fit image in the box
                width: 250px;
                height: 260px;
                // background-color: red;

                img{
                    // width: 100%;
                    box-sizing: border-box;
                    padding-bottom: 42px;
                    height: 100%;
                    // adjust image to fit in the box
                    object-fit: contain;
                }
                
            }

            h3 {
                margin: 0px;
            }

            p{
                margin: 0;
                margin-top: 10px;
                font-size: 14px;
                color: #e0cbc1;
            }
        }
    
    }
    .leftpad {
        flex:1;
        // width: 100vw;
        // height: 100%;
    }

    .rightpad{
        flex:1;
        // width: 100vw;
        // height: 100%;

    }
}